
@model Course_Work.ViewModels.OrdersViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <p>Для оформления покупки заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.ShopId" name="ShopId" />
            <table>
                <tr>
                    <td>Введите адрес:</td>
                    <td><input type="text" name="Adress" /></td>
                </tr>

                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>