@{
    ViewData["Title"] = "Home Page";
}


@model IEnumerable<Course_Work.Models.Shop>

<!DOCTYPE html>

<html>
<head>
    <title>Магазин еды</title>
</head>
<body>
    <aside id="sidebar" class="stick_in_parent">
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="menu">
                <form action="/Home/Find" method="post">
                    <input type="text" name="FoodName" class="form-control input-sm" placeholder="Поиск еды" />
                    <input type="submit" class="btn btn-success" value="Найти" />
                </form>
            </nav>
        }
        
    </aside>
    @if (User.Identity.IsAuthenticated)
    {
        <h3>Товары:</h3>
        <table>
            <tr>
                <td>Наименование</td>
                <td>Цена</td>
                <td>Информация</td>
                <td></td>
            </tr>
            @foreach (var prod in Model)
            {
                <tr>
                    <td>@prod.Name</td>
                    <td>@prod.Cost</td>
                    <td>@prod.Info</td>
                    <td><a href="~/Home/Buy/@prod.Id">Купить</a></td>
                </tr>
            }
        </table>
    }

    @if (!User.Identity.IsAuthenticated)
    {
        <h3>Чтобы сделать заказ- войдите в аккаунт</h3>
    }
</body>
</html>
